:root {
    --text: #000;
    --bg: #fff;
}

body {
    font-family: 'Ubuntu', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    background-color: var(--bg);
    color: var(--text);
}

@media (prefers-color-scheme: dark) {
    :root {
      --text: rgb(230,237,243);
      --bg: rgb(13,17,23);
    }
}
